extends layout

block content
	h1= title
	p Welcome to a nonsuck CAP
	ul
		each auth, i in ocap
			li
				p= auth.author.username
	table
		tr
			td
				h3= "Add new" 
			td
				h3= "Update"
		tr
			td
				form#formSubmitMon(name="submitpoke", method="post", action="/submitpoke")
					p Username
					input#inputUserName(type="text", placeholder="Your username", name="username")
			td
				form#formUpdateMon(name="updatepoke", method="post", action="/updatepoke")
					p Username
					input#inputUserNameUpdate(type="text", placeholder="Your username", name="usernameupdate")
		tr
			td
				p Pin
				input#inputPin(type="text", placeholder="Your pin (not secure)", name="pin")
			td
				p Pin
				input#inputPinUpdate(type="text", placeholder="Your pin (not secure)", name="pinupdate")
		tr
			td
				p Description
				textarea#description(name="desc" rows="10" cols="30")
			td
				p Description
				textarea#descriptionUpdate(name="descupdate" rows="10" cols="30")
		tr
				p Primay Typing
				input#Fairy1(type="radio", name="typing1")
				label(for="Fairy1") Fairy
				input#Water1(type="radio", name="typing1")
				label(for="Water1") Water
				p Secondary Typing
				input#Fairy2(type="radio", name="typing2")
				label(for="Fairy2") Fairy
				p Abilities
				input#inputAbility1(type="text", placeholder="Ability 1", name="ab1")
				
				input#inputAbility2(type="text", placeholder="Ability 2", name="ab2")
				
				input#inputAbility3(type="text", placeholder="Ability 3", name="ab3")
				
				p Stats
				input#inputHP(type="text", placeholder="Base HP", name="HP")
				
				input#inputAtk(type="text", placeholder="Base Atk", name="Atk")
				
				input#inputDef(type="text", placeholder="Base Def", name="Def")
				
				input#inputSpA(type="text", placeholder="Base SpA", name="SpA")
				
				input#inputSpD(type="text", placeholder="Base SpD", name="SpD")
				
				input#inputSpe(type="text", placeholder="Base Spe", name="Spe")
				
				p Movepool
				textarea#movepool(name="movepool" rows="10" cols="30")
				br
				p Flavor
				textarea#flavor(name="flavor" rows="10" cols="30")
				br
				p Mon Name
				input#inputName(type="text" placeholder="name" name="name")
				br
				button#btnSubmit(type="submit") Submit




