extends layout

block content
	h1= title
	p Welcome to a nonsuck CAP
	ul
		each auth, i in ocap
			li
				p= auth.author.username
	table
		tr
			td
				h3= "Add new" 
			td
				h3= "Update"
		tr
			td
				form#formAddUser(name="submitpoke", method="post", action="/submitpoke")
					p Username
					input#inputUserName(type="text", placeholder="Your username", name="username")
					p Pin
					input#inputPin(type="text", placeholder="Your pin (not secure)", name="pin")
					br
					p Description
					textarea#description(name="desc" rows="10" cols="30")
					p Primay Typing
					input#Fairy1(type="radio", name="typing1")
					label(for="Fairy1") Fairy
					input#Water1(type="radio", name="typing1")
					label(for="Water1") Water
					p Secondary Typing
					input#Fairy2(type="radio", name="typing2")
					label(for="Fairy2") Fairy
					p Abilities
					input#inputAbility1(type="text", placeholder="Ability 1", name="ab1")
					br
					input#inputAbility2(type="text", placeholder="Ability 2", name="ab2")
					br
					input#inputAbility3(type="text", placeholder="Ability 3", name="ab3")
					br
					p Stats
					input#inputHP(type="text", placeholder="Base HP", name="HP")
					br
					input#inputAtk(type="text", placeholder="Base Atk", name="Atk")
					br
					input#inputDef(type="text", placeholder="Base Def", name="Def")
					br
					input#inputSpA(type="text", placeholder="Base SpA", name="SpA")
					br
					input#inputSpD(type="text", placeholder="Base SpD", name="SpD")
					br
					input#inputSpe(type="text", placeholder="Base Spe", name="Spe")
					br
					p Movepool
					textarea#movepool(name="movepool" rows="10" cols="30")
					br
					p Flavor
					textarea#flavor(name="flavor" rows="10" cols="30")
					br
					p Mon Name
					input#inputName(type="text" placeholder="name" name="name")
					br
					button#btnSubmit(type="submit") Submit
			td
				form#formAddUser(name="adduser",method="post",action="/adduser")
					input#inputUserName(type="text", placeholder="username", name="username")
					br
					input#inputUserEmail(type="text", placeholder="useremail", name="useremail")
					br
					button#btnUpdate(type="submit") Submit



