html
{
	background: #f2f2f2;
}

body 
{
  padding: 50px;
  font: 14px;
  font-family: "Ubuntu";
}

a 
{
  color: #00B7FF;
}


#wrapper
{
	margin: -20px 75px -10px;
	padding: 5px 20px 15px;
	box-shadow: 0px 0px 7px #999;
	background: #fff none repeat scroll 0% 0%;
	position: relative;
}

#formSubmitMon
{
	padding: 0px 10px 0px 0px;
}


table
{
	border: none;
	border-collapse: collapse;
}

table td
{
	border-left: 1px solid black;
	border-right: 1px solid black;
	padding: 0px 20px 0px 20px;
}

table td:first-child 
{
	border-left: none;
}

table td:last-child 
{
	border-right: none;
}










/* select(name="typing")
// 	option(value="prim", selected="selected") 1st Type
// 	option(value="Fairy") Fairy
// 	option(value="Water") Water
// br
// select(name="typing2")
// 	option(value="sec") 2nd Type
// 	option(value="Water") Water */